
    <div class="card">
      <h1>Welcome back</h1>

      <button class="google-btn">
        <img
          src="https://www.svgrepo.com/show/475656/google-color.svg"
          alt="Google"
        />
        Continue with Google
      </button>

      <div class="divider">
        <span></span>
        <p>or</p>
        <span></span>
      </div>

      <label for="email">E-mail</label>
      <input type="email" id="email" placeholder="Your e-mail" />

      <button class="continue-btn">Continue</button>

      <p class="signup">
        Don't have an account?
        <a href="#">Sign up</a>
      </p>
    </div>